{% extends 'layout.html' %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <h2>{{ username }}'s Portfolio</h2>

    <table class="table table-striped">
        <thead>
            <tr>
            <th>Symbol</th>
            <th>Name</th>
            <th>Shares</th>
            <th>Price</th>
            <th>TOTAL</th>
        </tr>
        </thead>
        <tfoot>
            <tr>
                <td colspan="4"></td>
                <td>{{ total }}</td>
            </tr>
        </tfoot>
        <tbody>
            {% for stocks in users_portfolio %}
            <tr>
                <td>{{ stocks['symbol'] }}</td>
                <td>{{ stocks['name'] }}</td>
                <td>{{ stocks['shares'] }}</td>
                <td>{{ stocks['price'] }}</td>
                <td>{{ stocks['total'] }}</td>
            </tr>
            {% endfor %}
            <tr>
                <td>CASH</td>
                <td colspan="3"></td>
                <td>{{ cash }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}